.layer-container{
        position: absolute;
        top: 80px;
        left: 10px;
        cursor: pointer;
        z-index: 1;
        transform: translateX(0%);
        transition:  500ms;
}
.test{
    left: 0px;
    transform: translateX(-100%);
     opacity: 1;
     transition:  500ms;
    
}