<mat-button-toggle-group appearance="legacy"
    name="fontStyle"
    [(value)] = "selectedTool"
    aria-label="Font Style" vertical >
  <mat-button-toggle
    matTooltip="Zoom in"
    (change)="zoominEvent()"
    value="zoomIn">
    <fa-icon [icon]="zoominIcon"></fa-icon>
  </mat-button-toggle>
  <mat-button-toggle
    matTooltip="Zoom out"
    (change)="zoomoutEvent()"
    value="zoomOut">
    <fa-icon [icon]="zoomoutIcon"></fa-icon>
  </mat-button-toggle>
  <mat-button-toggle
    (change)="openPanelTool()"
    matTooltip="Measure"
    value="measure">
    <fa-icon [icon]="drawIcon"></fa-icon>
  </mat-button-toggle>
  <mat-button-toggle
    (change)="openPanelTool()"
    matTooltip="Get Feature Info"
    value="gfi">
    <fa-icon [icon]="gfiIcon"></fa-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<!-- Measure tool card -->
<mat-card class="example-card" *ngIf="selectedTool=='measure'" [@toggleState]="shouldToggle">
<mat-card-subtitle>  <fa-icon [icon]="drawIcon"></fa-icon> &nbsp; Measure
    <fa-icon [icon]="closeIcon" class="close-icon" (click)="closeTool('measure')"></fa-icon>
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <app-measure-tool ></app-measure-tool>
  </mat-card-content>
</mat-card>

<!-- GFi tool card -->
<mat-card class="example-card" *ngIf="selectedTool=='gfi'" [@toggleState]="shouldToggle">
  <mat-card-subtitle>  <fa-icon [icon]="gfiIcon"></fa-icon> &nbsp; GFI
      <fa-icon [icon]="closeIcon" class="close-icon" (click)="closeTool()"></fa-icon>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <app-gfi-tool></app-gfi-tool>
  </mat-card>