.tools-container{
    position: absolute;
    top: 90px;
    right: 10px;
    background: whitesmoke;
    cursor: pointer;

}
.layer-panel-btn{
    position: absolute;
    top: 90px;
    left: 10px;
    background: whitesmoke;
    cursor: pointer;
    padding: 5px;
    border-radius: 9px;
}


